body:not(.FULL_UI) #application .emoji{display: none !important}
body:not(.FULL_UI) #application .pop-over:not(.overlay){width: 250px}
body:not(.FULL_UI) #application .pop-over{pointer-events: all}
body:not(.FULL_UI) #application .pop-over button.has-emoji {margin-right: 15px}

body:not(.FULL_UI) #application .sidebar .icon-collapse{
  transform: rotate(-90deg);
  top: 5px;
}
body.FULL_UI #application .sidebar .icon-collapse{transform: rotate(90deg)}
#application .sidebar .icon-collapse{cursor: pointer}

body:not(.FULL_UI) #application .text-editor .CodeMirror,
body:not(.FULL_UI) #application .project-search-pop,
body:not(.FULL_UI) #application .filetree .file,
body:not(.FULL_UI) #application .files-loading,
body:not(.FULL_UI) #application pre,
body:not(.FULL_UI) #application xmp,
body:not(.FULL_UI) #application plaintext,
body:not(.FULL_UI) #application listing,
body:not(.FULL_UI) #application code,
body:not(.FULL_UI) #application kbd,
body:not(.FULL_UI) #application pre,
body:not(.FULL_UI) #application samp{
  font-family: "SF Mono", Menlo, Consolas, Monaco, "Lucida Console", Monospace !important;
}

body:not(.FULL_UI) #application .sidebar-people{display: none}
body:not(.FULL_UI) #application .editor-helper{padding-bottom: 0}
body:not(.FULL_UI) #application .CodeMirror-scroll{padding-top: 15px}
body:not(.FULL_UI) #application .markdown-container{padding-top: 15px}

body:not(.FULL_UI) #application header{
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 10;
  pointer-events: none;
}

body:not(.FULL_UI) #application header .header-nav{
  justify-content: center;
}

body:not(.FULL_UI) #application header .header-nav > *{display: none !important}
body:not(.FULL_UI) #application header .header-nav > .project-search-wrapper{
  display: block !important;
  margin: 24px 0;
  position: relative;
  flex-grow: initial;
  min-width: 240px;
  flex-basis: 50%;
  max-width: 500px;
  opacity: 0;
  user-select: none;
}

body:not(.FULL_UI) #application header .header-nav > .project-search-wrapper:focus-within{
  pointer-events: all;
  user-select: all;
  opacity: 1;
}
body:not(.FULL_UI) #application header .header-nav > .project-search-wrapper[focus-within]{
  pointer-events: all;
  user-select: all;
  opacity: 1;
}

body:not(.FULL_UI) #application header .project-search-wrapper .project-search-input{
  margin: 0;
  border: 0px solid transparent;
  background-image: none;
}
body:not(.FULL_UI) #application header .project-search-wrapper .search-input:focus{
  box-shadow: none;
}

body:not(.FULL_UI).DARK #application .project-search-pop.project-search-pop{
  box-shadow: 0px 0px 0px 1px rgb(68, 68, 68), 0px 0px 16px 1px rgba(0,0,0,0.66);
}
body:not(.FULL_UI) #application .project-search-pop.project-search-pop {
  box-shadow: 0px 0px 0px 1px #bbb, 0px 0px 4px 1px #a2d7ff;
  left: 0;
  top: 0;
  padding-top: 22px;
  z-index: -1;
  width: 100%;
  max-width: none;
  min-width: 0;
  border: 0px solid white;
}

body:not(.FULL_UI) #application .project-search-pop .pop-over-actions{padding: 6px 0 0}
body:not(.FULL_UI).DARK #application .project-search-pop .result{border-color: #404040}
body:not(.FULL_UI) #application .project-search-pop .result{
  border-radius: 0;
  border-bottom: 0px solid transparent;
  border-top: 1px solid #e5e5e5;
}

body:not(.FULL_UI) #application .project-search-pop .result-type,
body:not(.FULL_UI) #application .project-search-pop .result-name{
  display: none !important;
}
body:not(.FULL_UI).DARK #application .project-search-pop .result-description{color: #dadada}
body:not(.FULL_UI) #application .project-search-pop .result:focus .result-description,
body:not(.FULL_UI) #application .project-search-pop .result.focus .result-description,
body:not(.FULL_UI) #application .project-search-pop .result:hover .result-description,
body:not(.FULL_UI) #application .project-search-pop .result.hover .result-description{
  color: #fafafa !important;
}
body:not(.FULL_UI) #application .project-search-pop .result-description{
  color: #222;
  padding-top: 0;
}

body:not(.FULL_UI) #application header > dialog.pop-over{
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

body:not(.FULL_UI).DARK #application .sidebar{background: #1a1b1c}
body:not(.FULL_UI) #application .sidebar{background: #fafafa}
body:not(.FULL_UI) #application .sidebar:not(.sidebar-collapsed){min-width: 206px}
body:not(.FULL_UI) #application .sidebar.sidebar-collapsed{min-width: 0; width: 0 !important}

body:not(.FULL_UI).DARK #application .sidebar .debug-buttons{background: #404040}
body:not(.FULL_UI) #application .sidebar .debug-buttons{
  background: #e5e5e5;
  border-bottom: 0px solid transparent;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 0;
  height: auto;
}
body:not(.FULL_UI) #application .sidebar-files{margin-top: 0}
body:not(.FULL_UI) #application .filetree .file{
  margin: 0;
  border-radius: 0;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}
body:not(.FULL_UI) #application .sidebar .filetree .secrets-sidebar-icon,
body:not(.FULL_UI) #application .sidebar .filetree .assets-sidebar-icon,
body:not(.FULL_UI) #application .sidebar .filetree .asking-for-help-sidebar-item{
  padding-left: 38px;
  background-position-x: 15px;
}

body:not(.FULL_UI) #application .filetree .file .options.icon{
  top: 1px;
}

body:not(.FULL_UI) #application .debug-buttons .segmented-buttons{margin-left: 15px}
body:not(.FULL_UI) #application .debug-buttons .segmented-buttons > button.new-file{
  margin-left: 0px;
  margin-right: 0px;
}

body:not(.FULL_UI) #application .CodeMirror {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialised;
  font-smoothing: antialised;
  text-rendering: optimizeLegibility;
}

body:not(.FULL_UI) #application .CodeMirror pre {
  font-size: 15px !important;
  text-rendering: optimizeLegibility !important;
}
